<section class="mb-3 text-light">
    <h2 class="card-header text-center mt-4">Search Results</h2>
    <div class="d-flex m-3 flex-wrap justify-content-center">
      {{#each parks}}
      <button class="card m-3 p-2 align-items-center" style="width: 18rem;">
        <a href="/park/{{parkCode}}" class="nav-link font-weight-bold">{{fullName}}</a>
      </button>
      {{/each}}
    </div>
</section>


{{! {results: [
  {
    states: 'AL',
    parkCode: 'hobe',
    designation: 'National Military Park',
    fullName: 'Horseshoe Bend National Military Park',
    url: 'https://www.nps.gov/hobe/index.htm',
    name: 'Horseshoe Bend'
  },
  {
    states: 'AL',
    parkCode: 'liri',
    designation: 'National Preserve',
    fullName: 'Little River Canyon National Preserve',
    url: 'https://www.nps.gov/liri/index.htm',
    name: 'Little River Canyon'
  },
  {
    states: 'AL,MS,TN',
    parkCode: 'natt',
    designation: 'National Scenic Trail',
    fullName: 'Natchez Trace National Scenic Trail',
    url: 'https://www.nps.gov/natt/index.htm',
    name: 'Natchez Trace'
  },
  {
    states: 'AL',
    parkCode: 'ruca',
    designation: 'National Monument',
    fullName: 'Russell Cave National Monument',
    url: 'https://www.nps.gov/ruca/index.htm',
    name: 'Russell Cave'
  }
] }}