<div class="card" style="width: 18rem;">
  <a href="/park/{{parkCode}}" >{{fullName}}</a>
  <p>{{results}}</p>
</div>

{{!-- results: [
  {
    states: 'AL',
    parkCode: 'hobe',
    designation: 'National Military Park',
    fullName: 'Horseshoe Bend National Military Park',
    url: 'https://www.nps.gov/hobe/index.htm',
    name: 'Horseshoe Bend'
  },
  {
    states: 'AL',
    parkCode: 'liri',
    designation: 'National Preserve',
    fullName: 'Little River Canyon National Preserve',
    url: 'https://www.nps.gov/liri/index.htm',
    name: 'Little River Canyon'
  },
  {
    states: 'AL,MS,TN',
    parkCode: 'natt',
    designation: 'National Scenic Trail',
    fullName: 'Natchez Trace National Scenic Trail',
    url: 'https://www.nps.gov/natt/index.htm',
    name: 'Natchez Trace'
  },
  {
    states: 'AL',
    parkCode: 'ruca',
    designation: 'National Monument',
    fullName: 'Russell Cave National Monument',
    url: 'https://www.nps.gov/ruca/index.htm',
    name: 'Russell Cave'
  }
] --}}