<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Dashboard</div>
  <div class="card-body">
    <h2 class="card-title">Favorite Parks</h2>
    {{#if message}}
    <p>{{this}}</p>
    {{else}}
    {{#each parks}}
      <button class="card m-3 p-2 align-items-center" style="width: 18rem;">
        <a
          href="/park/{{parkCode}}"
          class="nav-link font-weight-bold"
        >{{fullName}}</a>
      </button>
    {{/each}}
    {{/if}}

  </div>
</div>