<div class="card text-center">

    <div class="card-header">
        Search for a Park
    </div>

    <div class="card-body" id="search-form">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-expanded="false">
                State
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Alabama</a>
                <a class="dropdown-item" href="#">Alaska</a>
                <a class="dropdown-item" href="#">Arizona</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-expanded="false">
                Activity
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Hiking</a>
                <a class="dropdown-item" href="#">Other park stuff</a>
                <a class="dropdown-item" href="#">Some more park stuff</a>
            </div>
        </div>

        <a href="#" class="btn btn-primary"> Search</a>

    </div>
    
</div>

<section>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Park Rating</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Park Rating</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Park Rating</p>
        </div>
    </div>

</section>

{{!-- <script>add path for search js</script> --}}