<div class="container text-center">
  <div class="jumbotron">
    Search for a Park
  </div>

  <form class="card-body" id="search-form">
    <div class="form-group text-white">
      <label for="state-code">State</label>
      <select class="form-control" id="state-code">
        <option>AK</option>
        <option>AL</option>
        <option>AR</option>
        <option>AZ</option>
        <option>CA</option>
        <option>CO</option>
        <option>CT</option>
        <option>DE</option>
        <option>FL</option>
        <option>GA</option>
        <option>HI</option>
        <option>IA</option>
        <option>ID</option>
        <option>IL</option>
        <option>IN</option>
        <option>KS</option>
        <option>KY</option>
        <option>LA</option>
        <option>MA</option>
        <option>MD</option>
        <option>ME</option>
        <option>MI</option>
        <option>MN</option>
        <option>MO</option>
        <option>MS</option>
        <option>MT</option>
        <option>NC</option>
        <option>ND</option>
        <option>NE</option>
        <option>NH</option>
        <option>NJ</option>
        <option>NM</option>
        <option>NV</option>
        <option>NY</option>
        <option>OH</option>
        <option>OK</option>
        <option>OR</option>
        <option>PA</option>
        <option>RI</option>
        <option>SC</option>
        <option>SD</option>
        <option>TN</option>
        <option>TX</option>
        <option>UT</option>
        <option>VA</option>
        <option>WA</option>
        <option>WI</option>
        <option>WV</option>
        <option>WY</option>
      </select>

    </div>

    <div class="form-group text-white">
      <label for="activity-id">Activities</label>
      <select class="form-control" id="activity-id">
        <option value="FF8C027-7C8F-480B-A5F8-CD8CE490BFBA">Hiking</option>
        <option value="13A57703-BB1A-41A2-94B8-53B692EB7238">Astronomy</option>
        <option value="5F723BAD-7359-48FC-98FA-631592256E35">Auto and ATV</option>
        <option value="7CE6E935-F839-4FEC-A63E-052B1DEF39D2">Biking</option>
        <option value="071BA73C-1D3C-46D4-A53C-00D5602F7F0E">Boating</option>
        <option value="A59947B7-3376-49B4-AD02-C0423E08C5F7">Camping</option>
        <option value="B12FAAB9-713F-4B38-83E4-A273F5A43C77">Climbing</option>
      </select>
    </div>

    <button type="submit" type="button">Search</button>

  </form>

</div>

<section class="card-group">

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">Park Rating</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">Park Rating</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">Park Rating</p>
    </div>
  </div>

</section>

<script src="./public/js/search.js"></script>