<div class="container text-center">
    <div class="jumbotron">
        Search for a Park
    </div>
    
    <div class="card-body">
        <div class="form-group text-white">
            <label for="exampleFormControlSelect1">State</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>AK</option>
                <option>AL</option>
                <option>AR</option>
                <option>AZ</option>
                <option>CA</option>
                <option>CO</option>
                <option>CT</option>
                <option>DE</option>
                <option>FL</option>
                <option>GA</option>
                <option>HI</option>
                <option>IA</option>
                <option>ID</option>
                <option>IL</option>
                <option>IN</option>
                <option>KS</option>
                <option>KY</option>
                <option>LA</option>
                <option>MA</option>
                <option>MD</option>
                <option>ME</option>
                <option>MI</option>
                <option>MN</option>
                <option>MO</option>
                <option>MS</option>
                <option>MT</option>
                <option>NC</option>
                <option>ND</option>
                <option>NE</option>
                <option>NH</option>
                <option>NJ</option>
                <option>NM</option>
                <option>NV</option>
                <option>NY</option>
                <option>OH</option>
                <option>OK</option>
                <option>OR</option>
                <option>PA</option>
                <option>RI</option>
                <option>SC</option>
                <option>SD</option>
                <option>TN</option>
                <option>TX</option>
                <option>UT</option>
                <option>VA</option>
                <option>WA</option>
                <option>WI</option>
                <option>WV</option>
                <option>WY</option>
            </select>

        </div>
    </div>

    <div class="form-group text-white">
        <label for="exampleFormControlSelect1">Activities</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>Hiking</option>
            <option>Astronomy</option>
            <option>Auto and ATV</option>
            <option>Biking</option>
            <option>Boating</option>
            <option>Camping</option>
            <option>Climbing</option>
        </select>
    </div>
        <button type="submit" type="button">Search</button>
    </div>

</div>

<section class="card-group" >

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Park Rating</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Park Rating</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Park Rating</p>
        </div>
    </div>

</section>

<script src="./public/js/search.js"></script>