<div class="container text-center">
  <div class="jumbotron">
    Search for a Park
  </div>

  <form class="card-body" id="search-form">
    <div class="form-group text-white">
      <label for="state-code">State</label>
      <select class="form-control" id="state-code">
        <option value = "AK">AL</option>
        <option value = "AL">AR</option>
        <option value = "AR">AK</option>
        <option value = "AZ">AZ</option>
        <option value = "CA">CA</option>
        <option value = "CO">CO</option>
        <option value = "CT">CT</option>
        <option value = "DE">DE</option>
        <option value = "FL">FL</option>
        <option value = "GA">GA</option>
        <option value = "HI">HI</option>
        <option value = "IA">IA</option>
        <option value = "ID">ID</option>
        <option value = "IL">IL</option>
        <option value = "IN">IN</option>
        <option value = "KS">KS</option>
        <option value = "KY">KY</option>
        <option value = "LA">LA</option>
        <option value = "MA">MA</option>
        <option value = "MD">MD</option>
        <option value = "ME">ME</option>
        <option value = "MI">MI</option>
        <option value = "MN">MN</option>
        <option value = "MO">MO</option>
        <option value = "MS">MS</option>
        <option value = "MT">MT</option>
        <option value = "NC">NC</option>
        <option value = "ND">ND</option>
        <option value = "NE">NE</option>
        <option value = "NH">NH</option>
        <option value = "NJ">NJ</option>
        <option value = "NM">NM</option>
        <option value = "NV">NV</option>
        <option value = "NY">NY</option>
        <option value = "OH">OH</option>
        <option value = "OK">OK</option>
        <option value = "OR">OR</option>
        <option value = "PA">PA</option>
        <option value = "RI">RI</option>
        <option value = "SC">SC</option>
        <option value = "SD">SD</option>
        <option value = "TN">TN</option>
        <option value = "TX">TX</option>
        <option value = "UT">UT</option>
        <option value = "VA">VA</option>
        <option value = "WA">WA</option>
        <option value = "WI">WI</option>
        <option value = "WV">WV</option>
        <option value = "WY">WY</option>
      </select> 
 
    </div>

    <div class="form-group text-white">
      <label for="activity-id">Activities</label>
      <select class="form-control" id="activity-id">
        <option value="FF8C027-7C8F-480B-A5F8-CD8CE490BFBA">Hiking</option>
        <option value="13A57703-BB1A-41A2-94B8-53B692EB7238">Astronomy</option>
        <option value="5F723BAD-7359-48FC-98FA-631592256E35">Auto and ATV</option>
        <option value="7CE6E935-F839-4FEC-A63E-052B1DEF39D2">Biking</option>
        <option value="071BA73C-1D3C-46D4-A53C-00D5602F7F0E">Boating</option>
        <option value="A59947B7-3376-49B4-AD02-C0423E08C5F7">Camping</option>
        <option value="B12FAAB9-713F-4B38-83E4-A273F5A43C77">Climbing</option>
      </select>
    </div>

    <button type="submit" type="button">Search</button>

  </form>

</div>

<section class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Search Results</div>
    {{#each results as |park|}}
    {{> search-results}}
    {{/each}}
</section>