.jumbotron {
    background-image: url("../img/nationalpark5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 72px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}

#h1 {
    text-align: center;
}

#trailblazers {
    text-decoration: none;
    color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5rem;
    position: relative;
    top: 5%;
}

#loggedindash {
    text-decoration: none;
    color: burlywood;
    font-size: 20px;
}

#logout {
    text-decoration: none;
    color: burlywood;
    font-size: 20px;
}

#loggedoutdash {
    text-decoration: none;
    color: burlywood;
    font-size: 20px;
}

#loginlink {
    text-decoration: none;
    color: burlywood;
    font-size: 20px;
}

.card-text {
    color: black;
    font-weight: 700;
}

#parkpageinfo {
    background-color: rgba(0, 255, 85, 0.3);
    margin-top: 40px;
    text-align: center;
}

ul {
    list-style-type: none;
}

@media only screen and (min-width: 390px) {
    #h1 {
      text-size-adjust: auto;
    }
  }
  @media only screen and (min-width: 412px) {
    #jumbosearch {
      text-size-adjust: auto;
    }
  }
  @media only screen and (max-width: 768px) {
    #parkpageinfo {
        text-size-adjust: auto;
    }
  }